        <?php if(!$this->ViewModel['*.footer.socials.disabled']) { ?>
        <hr class="mt-4" />
        <div class="row col-12">
            <div class="col-4 twitter d-flex justify-content-center">
                <a href="https://twitter.com/Hangatyr2" class="btn">
                    <div class="">
                        <img class="img-thumbnail" width="64" height="64" src="/assets/img/twitter.png" />
                        <div class="row">
                            <span>@Hanga7yr</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-4 youtube d-flex justify-content-center">
                <a href="https://discord.com" class="btn">
                    <div class="">
                        <div class="row">
                            <span>Discord User</span>
                            <span>Hangatyr#7060</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-4 instagram d-flex justify-content-center">
                <a href="https://youtube.com/c/MandelaCatalogue" class="btn">
                    <div class="">
                        <img class="img-thumbnail" width="64" height="64" src="/assets/img/youtube.png" />
                        <div class="row">
                            <span>MandelaCatalogue</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <?php } ?>
    </div>
</body>